 body {
    position: relative; 
    font-family: "Roboto", sans-serif;
  }

h1::first-letter {
  
  font-size:150%;
  text-decoration: underline;
} 
 

.title-li
{
font-size: 1.2em;
}
.personal-bio-p
{
font-size: 1.2em;
}

#images
{
padding-bottom: 50px;
}
.hyper
{
color:blue;
text-decoration: none; 
color: inher;
}

.hyper:hover
{
color: black;
text-decoration: none;

}

.navbar
{
opacity: 0.9;
}

 #images
 {
 background-color:  #eee;
 }


.img-responsive 
{
height: ;
}
   #section1 
   {
   	padding-top:50px;
   	height: 100vh; 
   	color: #fff;
   	background-color: transparent;
   	background-attachment: fixed;
    background-image: url(img/map-img.jpg);
    background-position: left-center;
    background-size: cover;
	margin-bottom: 0px;}

#title-info
{background-color: transparent!important;
color: black;}


  #section2 
  {
  	padding-top:100px;
  	padding-bottom: 100px;
   	height: ;
   	background-color: #eee;
   	
  }

  #section3 
  {
  	border-top:1px solid black;
  	
  	padding-bottom: 100px;
  	font-size: 1.2em;
  	color:black ; 
  	background-color:#fff;
  	font-size: 1.2em;
  	background-attachment: fixed;
    background-image: url(img/collab.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 0px;
  }

 #projects-item
{
margin:10px;
opacity: 0.9;
background-color: lightgrey;
border-radius: 10px;
padding: 20px;
}



#smile
{
height: 300px;
width: 300px;
padding-bottom: 10px;
}

#projects-jumbo
{
background-color: transparent !important;
opacity: ;
}


 #section4 
 {
 padding-top:50px;
 height: 100vh;
 color: #fff; 
 background-color: #00bcd4;
 
}





#contact-me
{
margin-bottom: 0px;

}

.contact-me-h
{
padding: 10px;
}

.contact-me-p
{
padding: 10px;
}