	 body {
    position: relative; 
    font-family: "Roboto", sans-serif;
    color:#333333;
  }

h1::first-letter {
  
  font-size:150%;
  text-decoration: underline;
} 
 
.navbar
{
background-color: #e3dfc8;
border: none;
}

.nav navbar-nav
{
color:#333333;
}

.navbar-inverse .navbar-nav>.active>a
{
background-color: #f5f1da;
color:black;
}

.navbar-inverse .navbar-nav>.active>a
{
background-color: #f5f1da;
color:black;
}

.navbar-inverse .navbar-nav>.active>a:hover
{
background-color: #f5f1da;
color:black;
}
.navbar-inverse .navbar-nav>li>a:hover
{
color:black;
background-color: #f5f1da;
}

.navbar-inverse .navbar-nav>a:hover
{
background-color: green;
color:blue;
}

.title-li
{
font-size: 1.2em;
}

.personal-bio-h
{
color: #333333;
}


.personal-bio-p
{
font-size: 1.2em;
color: #333333;
}

.hyper
{
color:blue;
text-decoration: none; 
}

.hyper:hover
{
color: black;
text-decoration: none;
}

.navbar
{
opacity: 0.9;
}


   #section1 
   {
   	padding-top:50px;
   	height: 100vh; 
   	color: #333333;
   	background-color: transparent;
   	background-attachment: fixed;
    background-image: url(img/map-img.jpg);
    background-position: left-center;
    background-size: cover;
	margin-bottom: 0px;}

#title-info
{
margin-top: 50px;
background-color: transparent!important;
color: #333333;
}




  #section2 
  {
  	padding-top:100px;
  	padding-bottom: 100px;
   	height: ;
   	background-color: #f5f1da;
   	color: #333333;
  }

  #section3 
  {
  	border-top: 1px solid black;
  	padding-bottom: 100px;
  	font-size: 1.2em;
  	color: #333333;
  	background-color:#fff;
  	font-size: 1.2em;
  	background-attachment: fixed;
    background-image: url(img/collab.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
	margin-bottom: 0px;
  }

 #projects-item
{
margin-bottom: 10px;
opacity: 0.9;
background-color: #f5f1da;
border-radius: 10px;
padding: 20px;
color: #333333;
}

.caro-img
{
height: 300px;
width: 300px;
}

#smile
{
height: 300px;
width: 100%;
margin-bottom: 10px;
}

#projects-jumbo
{
background-color: transparent !important;
opacity: ;
}


 #section4 
 {
 padding-top:50px;
 height: 100vh;
 color: #fff; 
 background-color: #00bcd4;
 color: #333333;
 
}





#contact-me
{
background-color: #e3dfc8; 
margin-bottom: 0px;
color: #333333;
}

.contact-me-h
{
padding: 10px;

}

.contact-me-p
{
padding: 10px;

}